<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.uk.mapper.BoardMapper">
    
    <select id ="listSearch" resultType="kr.co.uk.vo.BoardVO" parameterType="kr.co.uk.vo.SearchCriteria">
		select seq, title, content, registuser, registdate, updateuser, updatedate, DECODE(status, '0', '비공개', '1', '공개', '2', '삭제') AS status
			from (
				select seq, title,  content, registuser, registdate, updateuser, updatedate, status,
      				row_number() over(order by seq desc) as rNum 
      			from (select * from board where status !=2) board
      				<include refid="search"></include>
      			) mb
      		where rNum between #{rowStart} and #{rowEnd} order by seq desc
    </select>
    
    <sql id="search">
    	<if test="searchType != null">
    		<if test="searchType == 't'.toString()">where title like '%' || #{keyword} || '%'</if> 
    		<if test="searchType == 'r'.toString()">where registuser like '%' || #{keyword} || '%'</if> 
    	</if>
    </sql>
    
	<select id="countSearch" resultType="int">
	 select count(*) from (select * from board where status !=2) 
		<![CDATA[
	  		where seq > 0
		]]>
		<include refid="search1"></include>
		
	</select>
	
	 <sql id="search1">
    	<if test="searchType != null">
    		<if test="searchType == 't'.toString()">and title like '%' || #{keyword} || '%'</if> 
    		<if test="searchType == 'r'.toString()">and title like '%' || #{keyword} || '%'</if> 
    		
    	</if>
    </sql>
   
	<insert id="insertPost">
		INSERT INTO BOARD(SEQ, title, content, registuser, registdate, status, password)
		VALUES(board_seq.nextval, #{title}, #{content}, #{registuser}, sysdate, #{status}, #{password})
	</insert>
	
	<select id="getPost" resultType="kr.co.uk.vo.BoardVO">
		select seq, title, content, registuser, registdate, updateuser, updatedate, status From board where seq=#{seq}
	</select>
	
	<update id="updatePost">
		update board set title = #{title}, content = #{content}, updateuser = #{registuser},
		updatedate = sysdate, status = #{status} where seq = #{seq}
	</update>
	
	<select id="getCount" resultType="Integer">
		select count(*) from board
	</select>
	
	<update id="deletePost">
		update board set status = 2 where seq = #{seq}
	</update>
	
	<select id="getPassword" resultType="Integer">
		select count(*) from board where seq = #{seq} and password = #{password}
	</select>


</mapper>